<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tabel Sayur</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table, th,td{
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <div>Sayur</div>
        <hr>
        <table border="3", style="width:50%">
                <tr>
                    <th>Nama sayur</th>
                    <th>Harga perkilo</th>
                    <th>Jumlah beli</th>
                    <th>Jumlah bayar</th>
                    <th>Harga awal (RP)</th>
                    <th>Diskon (%)</th>
                    <th>Harga diskon</th>
                    <th>Kembalian</th>
                </tr>
                <tr>
                    <td th:text=${namasayur}></td>
                    <td th:text=${hargaperkilo}></td>
                    <td th:text=${jumlahbeli}></td>
                    <td th:text=${jumlahbayar}></td>
                    <td th:text=${hargaawal}></td>
                    <td th:text=${diskon}></td>
                    <td th:text=${hargadiskon}></td>
                    <td th:text=${kembali}></td>
                </tr>
        </table>    
    </body>
</html>
